{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Топ вопросы</title>
</head>
<body>
{% block title %}
    <div class="d-flex gap-3 align-items-center mb-2">
        <h2>Топ вопросы</h2>
        <a href={% url 'index' %}>
            Новые вопросы
        </a>
    </div>
{% endblock %}
{% block content %}
    <div class="d-flex flex-column gap-3">
       {% for question in questions %}
            {% include 'question_card.html' %}
        {% endfor %}
    {% include 'pagination.html' %}
    </div>
{% endblock %}
</body>
</html>