{% extends 'base.html' %}

{% block title %}
    <div class="d-flex gap-3 align-items-center mb-2">
        <h2>Новые вопросы</h2>
        <a href={% url 'hot' %}>
            Топ вопросы
        </a>
    </div>
{% endblock %}
{% block content %}
    <div class="d-flex flex-column gap-3">
       {% for question in questions %}
            {% include 'question_card.html' %}
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% block scripts %}
    <script>
        $(document).ready(function () {
            // Обрабатываем клик по кнопке лайка
            $('.like-button').on('click', function () {
                // Найдем ближайший элемент-счетчик лайков в этой же карточке
                var countElement = $(this).closest('.me-2').find('.like-count');

                // Получаем текущее количество лайков
                var currentCount = parseInt(countElement.text(), 10) || 0;

                // Увеличиваем счетчик
                currentCount++;

                // Обновляем текст счетчика
                countElement.text(currentCount);
            });
        });
    </script>
{% endblock %}
</body>
</html>
