{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подробнее о вопросе</title>
</head>
<body>
{% block content %}
    <div class="row">
        <div class="card w-100 border-0 " style="width: 18rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <img src="/static/images/chiefKeef.jpg" class="img-thumbnail rounded-circle medium-circle"
                             alt="Avatar Image">
                        <article class="mt-2">
                            <div class="panel panel-default">
                                <span class="d-flex justify-content-center">
                                    <div class="me-2">
                                        <img src="/static/images/like.png" class="small like-button"
                                             style="cursor: pointer;">
                                        <span class="badge text-bg-primary like-count">0</span>
                                    </div>
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="col-10">
                        <h5 class="card-title">Как установить Linux на Windows?</h5></a>
                        <p class="card-text">Previously, our scripts dynamically added the .hide class to completely
                            hide a toast (with display:none, rather than just with opacity:0). This is now not necessary
                            anymore. However, for backwards compatibility, our script will continue to toggle the class
                            (even though there is no practical need for it) until the next major version.</p>
                        <div class="d-flex gap-5 align-items-center">
                            <div class="d-flex gap-3">
                                Тэги:
                                <a href="#" class="card-link">VPN</a>
                                <a href="#" class="card-link">Android</a>
                                <a href="#" class="card-link">Сеть</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="border-2">
    <div class="d-flex flex-column gap-3 mb-4">
        <div class="card w-100" style="width: 18rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <img src="/static/images/avatar.jpg" class="img-thumbnail rounded-circle medium-circle"
                             alt="Avatar Image">
                        <article class="mt-2">
                            <div class="panel panel-default">
                                <span class="d-flex justify-content-center">
                                    <div class="me-2">
                                        <img src="/static/images/like.png" class="small like-button"
                                             style="cursor: pointer;">
                                        <span class="badge text-bg-primary like-count">10</span>
                                    </div>
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="col-10">

                        <p class="card-text">Previously, our scripts dynamically added the .hide class to completely
                            hide a toast (with display:none, rather than just with opacity:0). This is now not necessary
                            anymore. However, for backwards compatibility, our script will continue to toggle the class
                            (even though there is no practical need for it) until the next major version.</p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Верно!
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card w-100" style="width: 18rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <img src="/static/images/EgorKreed.jpg" class="img-thumbnail rounded-circle medium-circle"
                             alt="Avatar Image">
                        <article class="mt-2">
                            <div class="panel panel-default">
                                <span class="d-flex justify-content-center">
                                    <div class="me-2">
                                        <img src="/static/images/like.png" class="small like-button"
                                             style="cursor: pointer;">
                                        <span class="badge text-bg-primary like-count">5</span>
                                    </div>
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="col-10">

                        <p class="card-text">Previously, our scripts dynamically added the .hide class to completely
                            hide a toast (with display:none, rather than just with opacity:0). This is now not necessary
                            anymore. However, for backwards compatibility, our script will continue to toggle the class
                            (even though there is no practical need for it) until the next major version.</p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Верно!
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card w-100" style="width: 18rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <img src="/static/images/smile.jpg" class="img-thumbnail rounded-circle medium-circle"
                             alt="Avatar Image">
                        <article class="mt-2">
                            <div class="panel panel-default">
                                <span class="d-flex justify-content-center">
                                    <div class="me-2">
                                        <img src="/static/images/like.png" class="small like-button"
                                             style="cursor: pointer;">
                                        <span class="badge text-bg-primary like-count">3</span>
                                    </div>
                                </span>
                            </div>
                        </article>
                    </div>
                    <div class="col-10">
                        <p class="card-text">Previously, our scripts dynamically added the .hide class to completely
                            hide a toast (with display:none, rather than just with opacity:0). This is now not necessary
                            anymore. However, for backwards compatibility, our script will continue to toggle the class
                            (even though there is no practical need for it) until the next major version.</p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Верно!
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="border-2"/>
    <div class="col-sm-12 mb-3">
        <textarea class="form-control" id="exampleInputDescription" rows="10"
                  placeholder="Напиши свой ответ здесь..."></textarea>
    </div>

    <button class="btn btn-success" type="submit">
        <div class="d-flex gap-2">
            <img src="/static/images/check-circle.svg" alt="Check icon"/>
            Ответить
        </div>

    </button>
{% endblock %}
</body>
</html>