{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вопрос по тэгу</title>
</head>
<body>
{% block title %}
    <div class="d-flex gap-3 align-items-center mb-2">
        <h2>Тэг: {{ tag}}</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="d-flex flex-column gap-3">
        {% for question in questions %}
            {% include 'question_card.html' with question=question %}
        {% empty %}
            <p>Нет вопросов с этим тэгом.</p>
        {% endfor %}
    </div>
    {% if has_questions %}
        {% include 'pagination.html' %}
    {% endif %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.like-button').on('click', function () {
                var countElement = $(this).closest('.me-2').find('.like-count');
                var currentCount = parseInt(countElement.text(), 10) || 0;
                currentCount++;
                countElement.text(currentCount);
            });
        });
    </script>
{% endblock %}
</body>
</html>